/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	/* The timer instance to use. */
	chosen {
		ncs,dm-timer = &timer2;
	};

	my_gpio {
		compatible = "gpio-leds";
		gpioA: gpioA_subnode {
			gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
			label = "GPIO A";
		};
	};

	buttons {
		compatible = "gpio-keys";
		buttonA: buttonA_subnode {
			gpios = <&gpio1 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch A";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	leds {
		led_ext_0 {
			gpios = <&gpio0 13 0>;
		};

		led_ext_1 {
			gpios = <&gpio0 15 0>;
		};
	};
};
